@import "materialize-css/sass/materialize.scss";

.wrap-table {
    @extend .card;
    padding-bottom: 1rem;

    box-sizing: border-box;

    input {
        font-size: 1.2rem !important;
        padding: .5rem !important;
        box-sizing: border-box !important;

        &::placeholder {
            color: grey;
            padding-left: .5rem;
        }
    }

    .table {
        @extend .card-content;

        padding-bottom: 0;

        .table-row {
            &.active {
                background-color: lighten(grey, 40%);
            }
        }

        .table-columns,
        .table-row {
            display: grid;
            grid-auto-flow: column;
        }

        .table-columns .table-column {
            font-weight: bold;
            font-size: 1.2rem;
            text-align: center;
        }

        .table-column {
            border: 1px dashed rgb(199, 198, 198);
            border-collapse: collapse;
            padding: .5rem;
            overflow: hidden;

            label {
                position: relative;
                top: 5px;
                left: 5px;
            }

        }
    }

    .control {
        @extend .card-content;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;

        button {
            @extend .btn;
        }
    }
}